---
import Page from "../layouts/Page.astro";

import pages from "../data/sitemap.json";

const title = "Sitemap";
const description =
    "Eine Übersicht der wichtigsten Seiten als Navigationsersatz";
---

<Page title={title} description={description}>
    <dl>
        {
            pages.map((page) => (
                <>
                    <dt>
                        <a href={page.url}>{page.name}</a>
                    </dt>
                    <dd>{page.excerpt}</dd>
                </>
            ))
        }
    </dl>
</Page>
