---
import pages from "../data/sitemap";

import Default from "../layouts/Default.astro";

const title = "Sitemap";
const description =
    "Eine Übersicht der wichtigsten Seiten als Navigationsersatz";
---

<Default title={title} description={description}>
    <dl>
        {
            pages.map((page) => (
                <>
                    <dt><a href={page.url}>{page.name}</a></dt>
                    <dd>{page.excerpt}</dd>
                </>
            ))
        }
    </dl>
</Default>
