---
import { getCollection } from "astro:content";

import Page from "../../layouts/Page.astro";
import Pagination from "../../components/Pagination.astro";

const title = "Wird auch mal wieder Zeit";
const description = "Gesammelte Twitter-Threads über Musikalben, die ich mag";

export async function getStaticPaths({ paginate }) {
    const wamwz = (await getCollection("wamwz"))
        .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
        .reverse();

    return paginate(wamwz, { pageSize: 20 });
}

const { page } = Astro.props;
---

<Page title={title} description={description}>
    <p>
        Im Oktober 2020 habe ich begonnen, bewusst und in Ruhe ganze Alben zu
        hören, die ich liebe, und von denen ich fand, es sei mal wieder an der
        Zeit, sie bewusst und in Ruhe zu hören – und darüber zu twittern. Leider
        habe ich vergessen, der Sache ein schmissiges <code>#hashtag</code> zu verpassen.
    </p>

    <p>
        Diese Seite sammelt diese Alben (in umgekehrter Reihenfolge) und
        verlinkt auf die zugehörigen Twitter-Threads. Ein Track pro Album landet
        in einer <a
            href="https://open.spotify.com/playlist/3pos2rMfPxHy2SQlgajq88?si=b71898e906c5434e"
            >Spotify-Playlist</a
        >.
    </p>

    <ul>
        {
            page.data.map((album) => (
                <li>
                    <a href={album.data.tweet}>
                        {album.data.artist} – {album.data.title}
                    </a>
                </li>
            ))
        }
    </ul>

    <Pagination next={page.url.next} prev={page.url.prev} />
</Page>
