---
import { getCollection } from "astro:content";

import Default from "../../layouts/Default.astro";

const title = "Was ich spiele";
const description = "Meine (noch überschaubare) Instrumentensammlung";

const instruments = (await getCollection("instruments")).sort(
    (a, b) => a.data.number.valueOf() - b.data.number.valueOf()
);
---

<Default title={title} description={description}>
    <p>
        2021 habe ich mir nach rund 30 Jahren Pause wieder eine elektrische
        Gitarre zugelegt (und dann gleich noch eine), in Bands habe ich immer
        Bass gespielt. Hier dokumentiere ich meine (derzeit noch überschaubare)
        Instrumentensammlung.
    </p>

    <ul>
        {
            instruments.map((instrument) => (
                <li>
                    <a href={`/plays/${instrument.id}/`}>
                        {instrument.data.brand}{' '}{instrument.data.model}
                    </a>
                </li>
            ))
        }
    </ul>
</Default>
