---
import { ViewTransitions } from 'astro:transitions';
import { VERIFICATION } from "../data/meta";

import Favicons from "../components/Favicons.astro";

import "../css/main.css";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title} | yellowled.de</title>
        <ViewTransitions />
        {description && <meta name="description" content={description} />}
        {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
        <meta name="generator" content={Astro.generator} />
        <meta name="google-site-verification" content={VERIFICATION} />
        <Favicons />
    </head>
    <body>
        <slot />
    </body>
</html>
