---
export interface Props {
    title: string;
    description: string;
}

import { VERIFICATION } from "../data/meta";

import "../scss/global.scss";

import Favicons from "../components/Favicons.astro";
import ThemeHead from "../components/ThemeHead.astro";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title} | yellowled.de</title>
        {description && <meta name="description" content={description} />}
        {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
        <meta name="generator" content={Astro.generator} />
        <meta name="google-site-verification" content={VERIFICATION} />
        <ThemeHead />
        <Favicons />
    </head>
    <body>
        <slot />
    </body>
</html>
